.card {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 30px;
}

.card--picture {
    object-fit: cover;
    width: 125px;
    height: 170px;
    border-radius: 7px;
}

.card--information {
    margin-left: 19px;
}

.card--information_details {
    color: #2B283A;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
}

.card--information_details > img {
    margin-right: 4px;
}

.card--information_details > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
    letter-spacing: normal;
}

.card--information_text {
    margin-top: 4px;
    color: #2B283A;
    display: flex;
    flex-flow:column wrap;
    margin-right: 40px;
}

.card--information_text > h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 7px;
}

.card--information_text_date {
    font-size: 10.24px;
    line-height: 12px;
    margin-bottom: 9px;
}

.card--information_text > article {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
}

.card > hr {
    color: black;
}